<%- include('../templates/head') %>

<body>
  <div class="login">
    <div class="wrapper">
      <img src="../images/logo.png" class="logo" alt="">
      <label for="username">
        <input type="text" placeholder="请输入用户名" id="username" value="">
      </label>
      <label for="password">
        <input type="password" placeholder="请输入密码" id="password" value="">
      </label>
      <a class="f-btn f-btn-primary btn-login" href="javascript:;">登录</a>
    </div>
  </div>

  <%- include('../templates/foot') %>
</body>

</html>